{% extends "base.html" %}
{#extended from base.html#}

{% block content %}
    <h1>Insert DNA to return Protein sequence</h1>
    {#form to grab the user input#}
    <form action="{{ url_for('index') }}" method="post">
        <p><input type="text" name="sequence"></p>
        <p><input type="submit"></p>
    </form>


    <p>entered sequence: <br>{{ proteins }}</p>
    <p>transcription:    <br>{{ transcription }}</p>
    <p>translation: <br> {{ translation }}</p>
    {% if datalist != '' %}
    <p>Blast results:</p>
    {% endif %}
{#    {% for i in datalist: %}#}
     <p>{{ datalist }}</p>
{#    {% endfor %}#}
{% endblock %}